.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    background-color: #23180D;

    &-list {
        display: flex;
        gap: 20px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                font-size: 1.15rem;
                color: whitesmoke;
                text-shadow: 1px 1px 2px;
            }
        }
    }
}